---
// src/pages/dump.astro
---
<html>
  <body>
    <h1>Syllabus Dumps</h1>
    <a href="/api/year-7">Year 7 Syllabus</a>
    <a href="/api/year-8">Year 8 Syllabus</a>
    <a href="/api/year-9">Year 9 Syllabus</a>
    <a href="/api/igcse">IGCSE Syllabus</a>
    <a href="/api/ib-aisl">IB-AISL Syllabus</a>
    <a href="/api/ib-aasl">IB-AASL Syllabus</a>
  </body>
</html>